modules = ["nodejs-20", "python-3.11", "bash", "web"]
[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["imagemagick", "docker_28", "nano"]

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend - Next.js"

[[workflows.workflow]]
name = "Frontend - Next.js"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "livikit-agent"
mode = "parallel"
author = 40924732

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python agent.py start"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
ENABLE_VISION = "true"
