
rules_version = '2';

// WARNING: These rules are for development purposes only and are insecure.
// They allow anyone to read and write to your database.
// For a production app, you must secure your data.
// Refer to the previous version of this file for a secure ruleset example.

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write to all documents for development
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
